{% extends "index.html" %}
{% block content %}
<div id="smallsplash">
	<div class="titlebox titleboxmargins grid">

		<h1>
			<span class="leftalign">Buying<br>Property</span>
			</h1>
	</div>
	<div id="mainimg"></div>
</div>


<div class="casestudy shadow">
	<div class="titleboxmargins">
		<div class="sectiontitle column3 leftmargin">
			<h2>case study:<br> first time home buyers</h2>
			<h3>client needs</h3>
			<ul>
				<li>Located in the west end.</li>
				<li>Looking for a home with a yard.</li>
				<li>Within the price range of $1,000,000 dollars.</li>
			</ul>
			<h3>the buying process</h3>
			<p>Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h4>“These qualities are obviously those with which he regularly conducts business and are at a level of excellence dramatically above those displayed by any other real estate peer we have ever encountered”<br>– Robert & Lai-Won</h4>
			<h3>outcomes</h3>
			<p>He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value professionalism and grace. Trust is another very important aspect of communication and it’s the foundation of a solid business.</p>
		</div>
	<div class="sectiontitle column3 offcolumn4">
			<h2>case study:<br>seasoned home buyters</h2>
			<h3>client needs</h3>
			<ul>
				<li>Looking for a third house.</li>
				<li>Interested in property as an investment.</li>
				<li>Within the price range of $2,000,000 dollars</li>
			</ul>
			<h3>the selling process</h3>
			<p>Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h4>“These qualities are obviously those with which he regularly conducts business and are at a level of excellence dramatically above those displayed by any other real estate peer we have ever encountered”<br>– Jane & Joe Smith</h4>
			<h3>outcomes</h3>
			<p>He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value professionalism and grace. Trust is another very important aspect of communication and it’s the foundation of a solid business.</p>
		</div>
	</div>
</div>

<div class="main grid">
	<div id="factors">
		<div class="sectiontitle column1 leftmargin">
			<h2>
				personal factors to consider
			</h2>
		</div>

		<div class="centeredtext column4 offcolumn1">
			<h3 class="column1">how to pick the right agent</h3><p class="column3 norightmargin">Knowledge is an important factor in the quality of service you receive. Michael gives the highest level of service possible. He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value. Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h3 class="column1">defining your needs</h3><p class="column3 norightmargin">Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h3 class="column1">pick a neighbour-<br>hood</h3><p class="column3 norightmargin">Knowledge is an important factor in the quality of service you receive. Michael gives the highest level of service possible. He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value. </p>
			<h3 class="column1">viewing and choosing your home</h3><p class="column3 norightmargin">Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace. </p>
			<h3 class="column1">preparing your offer</h3><p class="column3 norightmargin">Michael gives the highest level of service possible. He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value. Knowledge is an important factor in the quality of service you receive. </p>
			<h3 class="column1">after acceptance</h3><p class="column3 norightmargin">Knowledge is an important factor in the quality of service you receive. Michael gives the highest level of service possible. He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value. </p>
		</div>					
	</div>	
</div>

<div id="buyingimage" class="shadow"></div>

<div class="main grid">
	<div id="factors">
		<div class="sectiontitle column1 leftmargin">
			<h2>
				financial factors to consider
			</h2>
		</div>

		<div class="centeredtext column4 offcolumn1">
			<h3 class="column1">affordability</h3><p class="column3">Knowledge is an important factor in the quality of service you receive. Michael gives the highest level of service possible. He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value. Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h3 class="column1">costs to consider</h3><p class="column3">Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h3 class="column1">land transfer tax</h3><p class="column3">Knowledge is an important factor in the quality of service you receive. Michael gives the highest level of service possible. He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value. </p>
		</div>					
	</div>	
</div>
<div id="footer">
	<div class="shadow" ></div>
		<div class="contact grid">
			<div class="offcolumn1 column5">
				<h4>If you are looking to invest or if you are buying your first home, feel free to give Michael a call directly at <a href="tel:+14169966936">416.996.6936</a> or send him an <a href="mailto:michael@myrealestatepro.ca">email</a>.</h4>
				<h5>477 MOUNT PLEASANT ROAD TORONTO, ON M4S 2L9 <br>PH: <a href="tel:+14164892121">416.489.2121</a><br>FAX: <a href="tel:+14164896297">416.489.6297</a><br>DIRECT: <a href="tel:+14169966936">416.996.6936</a><br>EMAIL: <a href="mailto:michael@myrealestatepro.ca">MICHAEL@MYREALESTATEPRO.CA</a></h5>
			</div>
	</div>
</div>
{% endblock %}
{% block buynav %}currentpage{% endblock %}