{% extends basetemplate %}
{% load staticfiles %}
{% block content %}
<div id="smallsplash" class="buyingpage">
	<div class="titlebox titleboxmargins grid">

		<h1>
			<span class="leftalign h1shadow">Buying<br>Property</span>
			</h1>
	</div>
	<div class="mainimg buyimg" style="background-image: url({% static "img/Grey_Aerial_Buying2.jpg"%});"></div>
</div>


<div class="casestudy casebuy">
	<div class="shadow"></div>
	<div class="titleboxmargins grid">
		<div class="sectiontitle column3 leftmargin medium-noleftmargin medium-offcolumn1 medium-column5 small-offcolumn0 small-column7">
			<h2 class="whitenav">case study:<br> first time home buyers</h2>
			<h3>client needs</h3>
			<ul>
				<li>Purchasing a home.</li>
				<li>Looking for a home they can grow into with a backyard and parking.</li>
				<li>Limited budget and looking in downtown Toronto.</li>
			</ul>
			<h3>the buying process</h3>
			<p>Considering the market conditions, Michael worked with his clients to determine their needs and the preferred geographical area of focus.  Taking into consideration the clients budget and longs term needs we were looking for a medium sized home where the family could grow and would not have to move when they decide to have children. Beginning with an education phase, Michael showed his clients their options, paying extra attention to the different property characteristics and ultimate selling price. This helped give Michael's clients a solid perspective on the market value and what they would get for your money. After a few unsuccessful offers on other properties we found a property that met all of the clients requirements with the future possibilities they were looking for. We moved forward with a fair offer followed by a home inspection resulting in the successful purchase of their first family home.</p>
			<h3>outcomes</h3>
			<p>This process did take 8 months with many unsuccessful offers along the way but in the end we were successful in buying the perfect house in an excellent area.</p>
		</div>
	<div class="sectiontitle column3 offcolumn1 medium-offcolumn1 medium-column5 small-offcolumn0 small-column7">
			<h2 class="whitenav">case study:<br>renting a home for investment</h2>
			<h3>client needs</h3>
			<ul>
				<li>Looking to purchase a home to rent for investment.</li>
				<li>Must have a monthly positive cash flow.</li>
				<li>Must have good long term opportunity.</li>
			</ul>
			<h3>the buying process</h3>
			<p>Considering the clients' needs and ability, Michael advised his client to purchase a home that needs a bit of renovations to fully maximize the investment. Throughout this process we identified homes that fit the criteria and studied the rental rates in the immediate neighbourhood. We also researched the economics, demographics, transit development and the real estate development in the neighbourhood to better understand the future opportunity.</p>
			
			<h3>outcomes</h3>
			<p>This process did take about 9 months with many unsuccessful offers and additional time spent on reviewing and studying neighbour rental rates and the future potential of the property. In the end Michael's client was successful in purchasing a solid home in an excellent area, after 3 months of renovations the home was rented for a great rate that produced a positive monthly cash flow.</p>
		</div>
	</div>
</div>

<div class="main grid">
	<div id="factors">
		<div class="sectiontitle column1 leftmargin medium-column2 small-column7">
			<h2 class="purplenav">
				personal factors to consider
			</h2>
		</div>

		<div class="centeredtext column4 offcolumn1 medium-offcolumn0 medium-column6 small-column7">
			<h3 class="column1 small-column7">how to pick <span class="medium-hide"><br></span>the right <span class="medium-hide"><br></span>agent?</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">Getting a referral is a good place to start, ask your friends and family to see who's had a good experience. Meet with potential agents, ask questions and see how they communicate and disseminate information, <span class="lightunderline">they are guiding you through a very important step and you need to be able to trust them 100%.</span> Meeting over a coffee is a good way to get to know a real estate agent and to see how working relationship might look before you enter into a contract. Visiting open house can also get your feet wet and will give you an opportunity to meet the agent hosting the open house and to visit different neighbourhoods.</p>
			<h3 class="column1 small-column7">defining <span class="small-hide"><br></span>your needs</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">This can be a difficult step for some, especially if you have unanswered questions. Understanding your options is integral in <span class="lightunderline">determining your priorities and focusing your search.</span> Considering your future plans is also very important in defining your needs and ensuring the property is suitable for years to come. Michael is happy to meet over a coffee to address those unanswered questions and to help you define your requirements. </p>
			<h3 class="column1 small-column7">picking a neighbourhood</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">There are many great neighbourhoods to choose from, understanding your needs will help you determine the neighbourhood that's right for you. There are also many options within a neighbourhood depending on your needs and goals.  <span class="lightunderline">Michael is familiar with many areas of the city</span> and the surrounding areas and can help you understand your options within the region. </p>
			<h3 class="column1 small-column7">viewing and choosing <span class="small-hide"><br></span>your home</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">After identifying your requirements, price range, and geographical boundaries it's time to search, review and go see available properties, <span class="lightunderline">physically viewing a property is truly the only way to fully understand the characteristics of a property.</span> Michael is a wealth of knowledge in the construction and renovation practices and costs of a build and can provide invaluable insight into the possibilities and pitfalls. </p>
			<h3 class="column1 small-column7">preparing <span class="medium-hide"><br></span>your offer</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">Once you and Michael have identified a property you are interested in purchasing, Michael will prepare all of the required paperwork including clauses to protect your interests. <span class="lightunderline">Depending on the market conditions, buyers can employ different strategies to ensure a smart, informed and successful purchase.</span> Please ask Michael about the different strategies buyers can employ to be successful in the purchase of your next property.   </p>
			<h3 class="column1 small-column7">after acceptance</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">After the acceptance of your offer, depending on the terms included we may need to complete some due diligence within a particular time frame such as a property inspection or a mortgage approval. <span class="lightunderline">Michael always follows through to the property closing</span> and beyond to ensure all of the details are handled properly and all of your questions and concerns are addressed.</p>
		</div>					
	</div>	
</div>

<div class="buyimg2" style="background-image: url({% static "img/Toronto_-_ON_-_Aerial_view-purple.jpg"%});">
	<div class="shadow"></div>
	<div class="pullquotes">
		<div class="slide">
			<div>
				<div class="grid">
					<h4 class="offcolumn1 column5 medium-offcolumn0 medium-column7">Understanding your options is integral in determining your priorities and focusing your search. Considering your future plans is also very important in defining your needs and ensuring the property is suitable for years to come.</h4>
				</div>
			</div>
		</div>
		<div class="slide">
			<div>
				<div class="grid">
				<h4 class="offcolumn1 column5 medium-offcolumn0 medium-column7">There are many great neighbourhoods to choose from, understanding your needs will help you determine the neighbourhood that's right for you. Michael is familiar with many areas of the city and the surrounding areas and can help you understand your options within the region.</h4>
				</div>
			</div>
		</div>
		<div class="slide">
			<div>
				<div class="grid">
				<h4 class="offcolumn1 column5 medium-offcolumn0 medium-column7"> After identifying your requirements, price range, and geographical boundaries it's time to search, review and go see available properties, physically viewing a property is truly the only way to fully understand the characteristics of a property. </h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main grid">
	<div id="factors">
		<div class="sectiontitle column1 leftmargin medium-column2 small-column7">
			<h2 class="purplenav">
				financial factors to consider
			</h2>
		</div>
 
		<div class="centeredtext column4 offcolumn1 medium-offcolumn0 medium-column6  small-column7">
			<h3 class="column1 small-column4">affordability</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">Understanding your affordability is crucial, your deposit, current debt responsibilities and income all play a role in determining how much of a mortgage you can afford. Getting a pre-approval from your bank or a mortgage broker is the best place to start. Michael works closely with mortgage brokers and bank professionals and is happy to provide a referral.</p>
			<h3 class="column1 small-column4">costs <span class="small-hide"><br></span>to consider</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">When purchasing a property your largest expense will be the land transfer tax, luckily as a buyer your agent’s real estate commissions are typically paid through the seller.  You also have to consider home inspection fees, legal fees and moving expenses.</p>
			<h3 class="column1 small-column4">land <span class="small-hide"><br></span>transfer tax</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0 small-column7">In Ontario we have a provincial land transfer tax payable when you purchase a property in the province. If you are purchasing a property in Toronto, Ontario there is an additional land transfer tax payable when you purchase a property. If you are a first time home buyer you are exempt from a portion of both the provincial and municipal land transfer tax. Here is a link to a land transfer tax calculator. </p>
		</div>					
	</div>	
</div>
<div id="footer" style="background-image:url({% static "img/symmetrical_house_1_purple2.png"%})">
	<div style="background-image:url({% static "img/symmetrical_house_2_purple2.png"%})"></div>
	<div class="shadow" ></div>
		<div class="contact grid">
			<div class="offcolumn1 column5 medium-offcolumn0 medium-column7">
				<h4>If you are looking to invest or if you are buying your first home, feel free to give Michael a call directly at <span itemprop="telephone"><a href="tel:+14169966936">416.996.6936</a></span> or send Michael an <span itemprop="email"><a href="mailto:michael@myrealestatepro.ca">email</a>.</h4></span><span itemprop="address"  itemprop="streetAddress"><h5>477 Mount Pleasant Road Toronto, ON M4S 2L9 </span><br>PHONE: <a href="tel:+14164892121">416.489.2121</a><br>FAX: <a href="tel:+14164896297">416.489.6297</a><span itemprop="telephone"><br>DIRECT: <a href="tel:+14169966936">416.996.6936</a></span><br><span itemprop="email">EMAIL: <a href="mailto:michael@myrealestatepro.ca">michael@myrealestatepro.ca</a></h5></span>
			</div>
	</div>
</div>
{% endblock %}
{% block buynav %}currentpage{% endblock %}
{% block script %} 
<script type="text/javascript">
	$( document ).ready(function(){
		// app.init();	
		app.sell.init();
	});
</script>
{% endblock %}
