{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html lang="en" >
<head>
	<script type="text/javascript" src="//use.typekit.net/ivd3jdw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0;maximum-scale=10.0;user-scalable=no; minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{%block meta%}	
		<meta name="description" content="{{meta.meta.text}}">
	{%endblock%}	
	<meta name="keywords" content="{{meta.key.text}}">
	<meta name="author" content="Michael Owen">
	<meta name="msvalidate.01" content="817272A047BDF1A3601D225793DC2635" />

	{# Google Webmaster Tools #}
	<meta name="google-site-verification" content="UM6rvBUkrR5PesPHT104TcS9mH9N5QXfQaEtw-O1rxM" />
	
	{# Michael Owen Sales Representative #}
	<title id="main-title">Michael Owen Real Estate {%block pagetitle%}{% endblock%}</title>

	<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-TileImage" content="/static/mstile-144x144.png">

	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	{% if pageType = "mobile tablet" %}
		<link rel="stylesheet" type="text/css" href="{% static "css/tablet.css" %}">
	{% elif pageType = "mobile phone" %}
		<link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}">
	{%endif%}	
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58181188-1', 'auto');
		// ga('create', 'UA-58181188-1', {
  // 			'cookieDomain': 'none'
		// });

	</script>
</head>
<body class="{{pageType}} {{oldapple}} smooth">
	<div id="nav">
		<nav class="grid offleft">
			<ul itemscope itemtype="http://schema.org/Person" id="navlist">
				<li class="column1 leftmargin  {% block aboutnav %}{% endblock %}"><a href="/" itemprop="name">Michael Owen</a>
				</li><li class="column1  {% block searchnav %}{% endblock %}"><a href="/search">Property Search</a>
				</li><li class="column1  {% block sellnav %}{% endblock %}"><a href="/sell">Selling Property</a>
				</li><li class="column1  {% block buynav %}{% endblock %}"><a href="/buy">Buying Property</a>
				</li><li class="column3">
					<a href="tel:+14169966936" class="mobile"><span class="hide large-hide"></span><span class="medium-hide" itemprop="telephone">{{contact.phone}}</span><span class="medium-show">Call</span></a><a href="mailto:{{contact.email}}" class="email"><span class="hide large-hide">Email: </span><span class="medium-hide" itemprop="email">{{contact.email}} </span><span class="medium-show">Email</span> </a>
				</li>
			</ul>
		</nav>
	</div>
	<div id="navbutton"><div><div></div><div></div><div></div></div></div>


<!--
	<script type="text/javascript" src="{% static "js/lib/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/jquery.nouislider.full.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/jquery-migrate-1.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/slick.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/modernizr.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/waypoints.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script> 
-->

	<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="{% static "js/lib/ZeroClipboard.min.js" %}"></script>
	<!--<![endif]-->




 	<script type="text/javascript" src="{% static "js/main.min.js" %}"></script>
<!-- -->
	<!--[if gte IE 9]><!-->
		<script type="text/javascript">
			ZeroClipboard.config( { swfPath: "{% static "js/lib/ZeroClipboard.swf" %}" } );
			app.init();
		</script>
	<!--<![endif]-->

<!--[if lt IE 9]>
	<style type="text/css">
		body #nav .grid ul li { display:inline; }
		body #nav { background-color:transparent; }
	</style>
<![endif]-->

<!--[if IE]>
	<script type="text/javascript">
		$( document ).ready(function(){
			console.log("this was triggerd")
			$('html').removeClass("csscolumns").addClass("no-csscolumns");
		});
	</script>
<![endif]-->
	
	{% if request.user.is_staff %}
	<div id="metaAdminPannel">
		<div class="contain">
			<div class="main grid">
				<h2 onclick="exitadminpannel()">Admin panel</h2>
					<ul>
						<li><a href="/admin/rets/residentialproperty/">res</a> - <a href="/admin/rets/condoproperty/">con</a></li>
						<li>featured:<a href="/admin/rets/residentialproperty/?o=-7"> res</a> - <a href="/admin/rets/condoproperty/?o=7">con</a></li>
						<li></li>
						<li><a href="/admin/rets/textfield/{{meta.meta.pk}}/">meta</a></li>
						<li><a href="/admin/rets/textfield/{{meta.key.pk}}/">key</a></li>
						<li></li>
						<li><a href="/admin/rets/aboutpage/1/">about</a></li>
						<li><a href="/admin/rets/searchpage/1/">search</a></li>
						<li><a href="/admin/rets/buypage/1/">buy</a></li>
						<li><a href="/admin/rets/sellpage/1/">sell</a></li>
						<li></li>
						<li><a href="/featuredproperties">featured page</a></li>
						<li></li>
						<li><a href="/admin/rets/neightbourhood/">neighbourhoods</a></li>
						<li></li>
						<li><a href="/admin/logout/">logout</a></li>
						<li></li>
						<li><a href="#" onclick="exitadminpannel()">close</a></li>
					</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function exitadminpannel(){
			var el = document.getElementById("metaAdminPannel")
			el.parentNode.removeChild(el);
		}
	</script>
	{% endif %}


	{% block script %} 
	{% endblock %}

	<div class="mainwrapper">
		<div></div>	
		{% block content %}
		{% endblock %}
	</div>

<script>
window.fbAsyncInit = function() {
	FB.init({
		appId      : '336911309824780',
		xfbml      : true,
		version    : 'v2.1'
	});
};

(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

	
</body>
</html>