{% load staticfiles %}
<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<script type="text/javascript" src="//use.typekit.net/ivd3jdw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">
		if( /Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				document.getElementById('stylesheet').href="{% static "css/500brk.scss" %}";
			}
			if( /iPad/i.test(navigator.userAgent) ) {
				document.getElementById('stylesheet').href="{% static "css/800brk.scss" %}";
		}
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0,user-scalable=no">
	<meta name="description" content=""> 
	{# Michael Owen is a real estate sales representative in Toronto, Ontario. Michael advises his clients on the purchase, sale, leasing and development of their homes and real estate investments. #}
	<meta name="keywords" content="">
	{# MLS, realty, realtor, sales representative, Michael Owen, brokerage, property search, toronto, ontario, canada, property, royal LePage, #}
	<meta name="author" content="">
	{# Michael Owen Sales Representative #}
	<title>Michael Owen Realty</title>

	<link rel="icon" type="image/png" href="{% static "assets/favicon.png"%}"/>
	<link rel="icon" type="image/ico" href="{% static "assets/favicon.ico"%}"/>		

	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static "css/tablet.css" %}"> -->
	<!-- z<link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}"> -->

</head>
<body>
	<div id="nav">
		<nav class="grid offleft">
			<ul>
				<li class="column1 leftmargin  {% block aboutnav %}{% endblock %}"><a href="/">Michael Owen</a>
				</li><li class="column1  {% block searchnav %}{% endblock %}"><a href="/search">Property Search</a>
				</li><li class="column1  {% block sellnav %}{% endblock %}"><a href="/sell">Selling Property</a>
				</li><li class="column1  {% block buynav %}{% endblock %}"><a href="/buy">Buying Property</a>

				</li><li class="column1 medium-hide">
				</li><li class="column1 "><a href="tel:+14169966936"><span class="large-hide">Phone: </span>416.996.6936</a>
				</li><li class="column1 "><a href="mailto:michael@myrealestatepro.ca"><span class="large-hide">Email: </span> <span class="only-small-show">michael@myrealestatepro.ca</span> <span class="small-show">Email Michael</span></a></li>
			</ul>
		</nav>
	</div>
	<div id="navbutton"><div><div></div><div></div><div></div></div></div>
	<div class="mainwrapper">
		<div></div>	
		{% block content %}
		{% endblock %}
	</div>
	<script type="text/javascript" src="{% static "js/lib/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/jquery.nouislider.full.min.js" %}"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{% static "js/lib/slick.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/modernizr.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/waypoints.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script> 
	<script type="text/javascript">
		app.init();
	</script>
	{% block script %} 
	{% endblock %}
</body>
</html>