{% extends basetemplate %}
{% block content %}
		<h3 class="purp">Little Italy -- Ajaxed</h3>
		<p>AJAXED -- Little Italy, sometimes referred to as College Street West or College and Clinton, is a district in Toronto, Ontario, Canada. It is well known for its numerous Italian Canadian restaurants and businesses. The district is centred around a restaurant/bar/ shopping strip along College Street, the heart of which being the intersection of College and Clinton Streets and the adjacent residential area. It overlaps into two official City of Toronto neighbourhoods: Palmerston-Little Italy north of College Street and Trinity-Bellwoods to the south. -- AJAXED</p>
{% endblock %}