{% load staticfiles %}
{% load bohdanfilters%}
{% if totalcount%}
	<div class="pageidicator_top">
		
		<h2>
			{% if thiscount|devidebysix != 1 %}
				<span class="slideprevious">&#8592;</span>
			{% endif %}
			{{thiscount|devidebysix}}/{{totalcount|devidebysix}}
			{% if thiscount|devidebysix != totalcount|devidebysix %}
				<span class="slidenext">&#8594;</span>
			{% endif %}
		</h2>
		
	</div>
{% endif %}
{% for prop in data %}<li class="column2 medium-column7 small-column7 new">
	<a href="/property/{{prop.ml_num}}">
		<div class="propertyimage medium-column3 small-column7">
			<img class="grayscale" src="{% static ""%}images/{{prop.ml_num}}-1.jpg">
			<div class="backgroundimage" style="background-image:url({% static ""%}images/{{prop.ml_num}}-1.jpg)"></div>		
		</div>
		<div class="propertycontent medium-offcolumn3 medium-column4 small-offcolumn-none small-column7">
			{% if prop.featured %}
				<h3 class="purp"> featured</h3><br>
			{% endif %}
			<h3><span itemprop="addressLocality">{{prop.community|titlecase}}</span></h3><br>
			<h3>{{prop.lp_dol|nicemoney}}</h3>
			<p><span itemprop="itemOffered">{{prop.extras|limilength}}</span></p><span class="medium-hide"><br></span>
			<div class="share">
				<div>
					<h3>share</h3>
				</div>
				<div class="mover">
					<h3>
						<a href="mailto:michael@myrealestatepro.ca?subject=Tell me about {{prop.ml_num}}" class="emaillink"> email</a>
					</h3>					
					<h3>
						&nbsp;&nbsp;<a href="https://twitter.com/intent/tweet?text=checkout%20http:www.michealowen.ca/property/{{prop.ml_num}}&source=webclient" class="twitterlink" >twitter</a>
					</h3>
					<h3>
						&nbsp;&nbsp;<a href="/property/{{prop.ml_num}}" class="facebooklink">facebook</a>
					</h3>					
					<!--[if gte IE 9]><!-->
					<h3>
						<a href="/property/{{prop.ml_num}}" class="coppylink">&nbsp;&nbsp;link</a>
					</h3>
					<!--<![endif]-->
					

				</div>
			</div>
		</div>
	</a>
</li>
{% endfor %}
{% if totalcount%}
	<input class="totalcount" value="{{totalcount|devidebysix}}">
	<input class="thiscount" value="{{thiscount|devidebysix}}">	
	<div class="pageidicator">
		
		<h2>
			{% if thiscount|devidebysix != 1 %}
				<span class="slideprevious">&#8592;</span>
			{% endif %}
			{{thiscount|devidebysix}}/{{totalcount|devidebysix}}
			{% if thiscount|devidebysix != totalcount|devidebysix %}
				<span class="slidenext">&#8594;</span>
			{% endif %}
		</h2>
		
	</div>
{% endif %}

