{% load staticfiles %}
{% load bohdanfilters%}
{% for prop in data %}<li class="column2 medium-column7 small-column7">
	<a href="/property/{{prop.ml_num}}">
		<div class="propertyimage">
			<img class="grayscale" src="{% static ""%}images/{{prop.ml_num}}-1.jpg">			
		</div>
		<div class="propertycontent">
			{% if prop.featured %}
				<h3 class="purp"> featured</h3><br>
			{% endif %}
			<h3><span itemprop="addressLocality">{{prop.community|titlecase}}</span></h3><br>
			<h3>{{prop.lp_dol|nicemoney}}</h3>
			<p><span itemprop="itemOffered">{{prop.extras|limilength}}</span></p><br>
			<div class="share">
				<div>
					<h3>share</h3>
				</div>
				<div class="mover">
					<h3>
						<a href="mailto:michael@myrealestatepro.ca" class="emaillink"> email</a>
					</h3>					
					<h3>
						&nbsp;&nbsp;<a href="https://twitter.com/intent/tweet?text=michealowen.ca/property/{{prop.ml_nm}}&source=webclient" class="twitterlink" >twitter</a>
					</h3>
					<h3>
						&nbsp;&nbsp;facebook
					</h3>					
					<h3>
						<a href="/property/{{prop.ml_num}}" class="coppylink">&nbsp;&nbsp;link</a>
					</h3>
				</div>
			</div>
		</div>
	</a>
</li>{% endfor %}