{% extends basetemplate %}
{% block content %}


<div>
	<div class="grid"> 
		<div class="column2 leftmargin ">
			<div class="propertyimages">
				<div><img src="http://placehold.it/300x300"></div>
				<div><img src="http://placehold.it/300x300"></div>
				<div><img src="http://placehold.it/300x300"></div>
				<div><img src="http://placehold.it/300x300"></div>
				<div><img src="http://placehold.it/300x300"></div>
			</div>
			<div id="gmap"></div>
		</div>
		<div class="column2">
			<h2>Overview</h2>
			<h3>392 MANNING AVE, TORONTO, ONTARIO</h3>
			<h3>$1,299,000</h3>
			<table>
				<tr>
					<td><p>Single Family</p></td>
					<td><h3>Property type</h3></td>
				</tr>
				<tr>
					<td><p>House</p></td>
					<td><h3>Building type</h3></td>
				</tr>
				<tr>
					<td><p>2</p></td>
					<td><h3>Storeys</h3></td>
				</tr>
				<tr>
					<td><p>Little Italy</p></td>
					<td><h3>Community name</h3></td>
				</tr>
				<tr>
					<td><p>Freehold</p></td>
					<td><h3>title</h3></td>
				</tr>
				<tr>
					<td><p>7L.6A6Nx1D14.S0I0ZFET</p></td>
					<td><h3>Land Size</h3></td>
				</tr>
				
				<tr>
					<td><p>Detached garage</p></td>
					<td><h3>Parking type</h3></td>
				</tr>
			</table>
			<h2>Description</h2>
			<p>Stunning Kingsway renovation. Coveted child frienly street, west garden. Renowed local builder - Rusand's - loving transformation in 2011! 4 great bed-rooms, dreamy master bath, 'to die for' kitchen/family room! Exceptional landscaping. Stunning Kingsway renovation. Coveted child frienly street, west garden. Renowed local builder - Rusand's - loving transformation in 2011! 4 great bed-rooms, dreamy master bath, 'to die for' kitchen/family room! Exceptional landscaping.</p>
		</div>
		<div class="column2">
			<h2>Details</h2>
			<table>
				<tr><td><p>6</p></td><td><h3>ROOMS</h3></td></tr>
				<tr><td><p>3</p></td><td><h3>BEDROOMS</h3></td></tr>
				<tr><td><p>1</p></td><td><h3>WASHROOMS</h3></td></tr>
				<tr><td><p>Lane</p></td><td><h3>FEATURES</h3></td></tr>
				<tr><td><p>Detached garage</p></td><td><h3>PARKING TYPE</h3></td></tr>
				<tr><td><p>2</p></td><td><h3>TOTAL PARKING SPACES</h3></td></tr>
			</table>
			<h2>Building</h2>
			<table>
				<tr><td><h3>BATHROOMS (TOTAL)</h3></td><td><p>2</p></td></tr>
				<tr><td><h3>COOLING</h3></td><td><p>Central air conditioning</p></td></tr>
				<tr><td><h3>EXTERIOR FINISH</h3></td><td><p>Brick</p></td></tr>
				<tr><td><h3>HEATING FUEL</h3></td><td><p>Natural gas</p></td></tr>
				<tr><td><h3>HEATING TYPE</h3></td><td><p>Forced air</p></td></tr>
				<tr><td><h3>STYLE</h3></td><td><p>Semi-detached</p></td></tr>
			</table>
			<div class="socialmedia"><h3>EMAIL</h3> <h3>FACEBOOK</h3> <h3>TWITTER</h3>  <h3>COPY LINK</h3></div>				
			<h2>Request a showing</h2>
		</div>				
	</div>
</div>



{% endblock %}
