{% extends "index.html" %}
{% block content %}
<div id="smallsplash">
	<div class="titlebox titleboxmargins grid">

		<h1>
			<span class="leftmargin leftalign">Property<br>Search</span>
			</h1>
	</div>
</div>
<div class="main grid">

<div id="featured">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			featured properties
		</h2>
	</div>				
	<ul class="propertylist leftmargin">
		<li class="column2">
			<div class="propertyimage">
				<img src="http://placehold.it/305x200">
			</div>
			<div class="propertycontent">
				<h3>Little Italy</h3><br>
				<h3>$890,900</h3>
				<p>
					Stunning Kingsway renovation. Renowned local builder - Rusand’s – going to loving trans- formation in 2011! 4 great bedrooms, dreamy master bath, ‘to die for’ kitchen / family room! Exceptional landscaping.
				</p><br>
				<h3>SHARE</h3>
				<div>

				</div>
			</div>
		</li><li class="column2">
		yep
		</li><li class="column2">
		yep
		</li>
	</ul>
</div>

<div id="searchfield">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			MLS Property search
		</h2>
	</div>	

	<div class="column4 offcolumn1"> 
		<div>
			<h3>price range</h3>
			<div id="priceslider"></div>
			<div id="priceinputs">
				<div class="priceinput"><input id="lowerprice" ></div><div class="priceinput"><input id="upperprice"></div>
			</div>
		</div><div class="column2">
			<h3>Neighbourhood</h3>

		</div><div class="column1">

			<h3>home type</h3>
		</div><div class="column1 norightmargin">
			<h3>bedroom</h3>
			<h3>bathroom</h3>

		</div>	
	</div>

</div>


</div>

<div id="footer">
	<div class="shadow"></div>
		<div class="contact grid">
			<div class="offcolumn1 column5">
				<h4>Whether you’re a first-time buyer, empty-nester or seasoned investor, please do not hesitate to give Michael a call directly at <a href="tel:+14169966936">416.996.6936</a> or send Michael an <a href="mailto:michael@myrealestatepro.ca">email</a>.</h4>
				<h5>477 MOUNT PLEASANT ROAD TORONTO, ON M4S 2L9 <br>PH: <a href="tel:+14164892121">416.489.2121</a><br>FAX: <a href="tel:+14164896297">416.489.6297</a><br>DIRECT: <a href="tel:+14169966936">416.996.6936</a><br>EMAIL: <a href="mailto:michael@myrealestatepro.ca">MICHAEL@MYREALESTATEPRO.CA</a></h5>
			</div>
	</div>
</div>

{% endblock %}

{% block searchnav %}currentpage{% endblock %}

{% block script %} 
<script type="text/javascript">
	$( document ).ready(function(){
		app.search.init()
		app.search.callbohdan();
	});
</script>
{% endblock %}