{% extends basetemplate %}
{% load staticfiles %}
{% block content %}
<div id="smallsplash">
	<div class="titlebox titleboxmargins grid">

		<h1>
			<span class="leftmargin leftalign">Property<br>Search</span>
			</h1>
	</div>
	<div class="mainimg propertyimg" style="background-image: url({% static "img/Grey_Skyline_Property.jpg"%});"></div>
</div>
<div class="main grid">

<div id="featured">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			featured properties
		</h2>
	</div>				
	<ul class="propertylist leftmargin">
		<li class="column2 medium-column3 small-column7">
			<a href="/property/propertyid">
			<div class="propertyimage">
				<img src="http://placehold.it/305x200">
			</div>
			<div class="propertycontent">
				<h3>Little Italy</h3><br>
				<h3>$890,900</h3>
				<p>
					Stunning Kingsway renovation. Renowned local builder - Rusand’s – going to loving trans- formation in 2011! 4 great bedrooms, dreamy master bath, ‘to die for’ kitchen / family room! Exceptional landscaping.
				</p><br>
				<h3>SHARE</h3>
				<div>

				</div>
			</div>
		</a></li><li class="column2">
		yep
		</li><li class="column2">
		yep
		</li>
	</ul>
</div>

<div id="searchfield">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			MLS Property search
		</h2>
	</div>	

	<div class="column4 offcolumn1 medium-offcolumn0 medium-column6 small-column7"> 
		<div>
			<h3>price range</h3>
			<div id="priceslider"></div>
			<div id="priceinputs">
				<div class="priceinput"><input id="lowerprice" ></div><div class="priceinput"><input id="upperprice"></div>
			</div>
		</div><div class="column2 medium-column3 small-column4">
			<h3>Neighbourhood</h3>
			<ul>
				<li><input type="checkbox" id="style11"><label for="style11" class="bold"><span></span>style11</label></li>
				<li><input type="checkbox" id="style21"><label for="style21"><span></span>style21</label></li>
				<li><input type="checkbox" id="style31"><label for="style31"><span></span>style31</label></li>
				<li><input type="checkbox" id="style41"><label for="style41"><span></span>style41</label></li>
			</ul><ul>
				<li><input type="checkbox" id="style12"><label for="style12"><span></span>style12</label></li>
				<li><input type="checkbox" id="style22"><label for="style22"><span></span>style22</label></li>
				<li><input type="checkbox" id="style32"><label for="style32"><span></span>style32</label></li>
				<li><input type="checkbox" id="style42"><label for="style42"><span></span>style42</label></li>
			</ul>
		</div><div class="column1 medium-column2 small-column3">

			<h3>home type</h3>
			<ul>
				<li><input type="checkbox" id="style1"><label for="style1"><span></span>style1</label></li>
				<li><input type="checkbox" id="style2"><label for="style2"><span></span>style2</label></li>
				<li><input type="checkbox" id="style3"><label for="style3"><span></span>style3</label></li>
				<li><input type="checkbox" id="style4"><label for="style4"><span></span>style4</label></li>
			</ul>
		</div><div class="column1 norightmargin small-column7">
			<h3>bedroom</h3>
			<div id="bedslider"></div>
			<div class="bbinputs"><span><input id="lowerbed" ></span><span><input id="upperbed"></span></div>
			<h3>bathroom</h3>
			<div id="bathslider"></div>
			<div class="bbinputs"><span><input id="lowerbath" ></span><span><input id="upperbath"></span></div>

		</div>	
	</div>
	<div class="column4 offcolumn1 medium-offcolumn0 small-column7">
		<h3>Displaying 12 of 46 properties</h3>

	</div>
	<div id="searchlistings" class="column2 offcolumn2 bigbutton medium-offcolumn1 medium-column4 small-offcolumn0 small-column7">
		<button><h3>Search listings</h3></button>
	</div>
</div>

<div id="searchresults" >
	<ul class="propertylist leftmargin">
		{% for i in "123456789" %}<li class="column2 medium-column3 small-column7">
				<div class="propertyimage">
					<img src="http://placehold.it/305x200">

				</div>
				<div class="propertycontent">
					<h3>Little Italy</h3><br>
					<h3>$890,900</h3>
					<p>
						Stunning Kingsway renovation. Renowned local builder - Rusand’s – going to loving trans- formation in 2011! 4 great bedrooms, dreamy master bath, ‘to die for’ kitchen / family room! Exceptional landscaping.
					</p><br>
					<h3>SHARE</h3>
					<div>

					</div>
				</div>
		</li>{% endfor %}			
	</ul>	
	<div class="column2 offcolumn2 bigbutton medium-offcolumn1 medium-column4 small-offcolumn0 small-column7">
		<button><h3>display more listings</h3></button>
	</div>
</div>


<div id="neighbourhoods">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			Neighbourhoods
		</h2>
	</div>
	<div class="column2 leftmargin small-column4"><img src="{% static "img/Grey-Little-Italy.jpg"%}">
	</div><div class="column3 medium-column5 medium-leftmargin small-column7" id="neighbourhoodajax">
		<h3 class="purp">Little Italy</h3>
		<p>Little Italy, sometimes referred to as College Street West or College and Clinton, is a district in Toronto, Ontario, Canada. It is well known for its numerous Italian Canadian restaurants and businesses. The district is centred around a restaurant/bar/ shopping strip along College Street, the heart of which being the intersection of College and Clinton Streets and the adjacent residential area. It overlaps into two official City of Toronto neighbourhoods: Palmerston-Little Italy north of College Street and Trinity-Bellwoods to the south.</p>
	</div><div class="column1 medium-column1 small-leftmargin small-column3">
		<h3>west</h3>
		<ul>
			<li>Bloor West Village</li>
			<li>High Park</li>
			<li>The Junction</li>
			<li>Roncesvalles</li>
			<li>Parkdale</li>
		</ul>
		<h3>east</h3>
		<ul>
			<li>Other</li>
			<li>Location</li>
		</ul>
	</div><div class="column1 medium-column1 small-column2">
		<h3>central</h3>
		<ul>
			<li><a href="/ajaxneighbourhood/bloorwest">Bloor West Village </a></li>
			<li><a href="/ajaxneighbourhood/highpark">High Park </a></li>
			<li><a href="/ajaxneighbourhood/thejunction">The Junction </a></li>
			<li><a href="/ajaxneighbourhood/roncesvalles">Roncesvalles </a></li>
			<li><a href="/ajaxneighbourhood/parkdale">Parkdale </a></li>
			<li><a href="/ajaxneighbourhood/bloorwest">The Junction </a></li>
			<li><a href="/ajaxneighbourhood/bloorwest">Roncesvalles </a></li>
			<li><a href="/ajaxneighbourhood/bloorwest">Parkdale </a></li>
		</ul>
	</div>
</div>


</div>

<div id="footer">
	<div></div>
	<div class="shadow"></div>
		<div class="contact grid">
			<div class="offcolumn1 column5 medium-offcolumn0 medium-column7">
				<h4>Whether you’re a first-time buyer, empty-nester or seasoned investor, please do not hesitate to give Michael a call directly at <a href="tel:+14169966936">416.996.6936</a> or send Michael an <a href="mailto:michael@myrealestatepro.ca">email</a>.</h4>
				<h5>477 MOUNT PLEASANT ROAD TORONTO, ON M4S 2L9 <br>PH: <a href="tel:+14164892121">416.489.2121</a><br>FAX: <a href="tel:+14164896297">416.489.6297</a><br>DIRECT: <a href="tel:+14169966936">416.996.6936</a><br>EMAIL: <a href="mailto:michael@myrealestatepro.ca">MICHAEL@MYREALESTATEPRO.CA</a></h5>
			</div>
	</div>
</div>

{% endblock %}

{% block searchnav %}currentpage{% endblock %}

{% block script %} 
<script type="text/javascript">
	$( document ).ready(function(){
		app.search.init()
	});
</script>
{% endblock %}