{% extends "index.html" %}
{% block content %}
<div id="smallsplash">
	<div class="titlebox titleboxmargins">

		<h1>
			<span class="leftmargin leftalign">Property<br>Search</span>
			</h1>
	</div>
</div>
<div class="main">

<div id="featured">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			featured properties
		</h2>
	</div>				
	<ul class="propertylist leftmargin">
		<li class="column2">
			<div class="propertyimage">
				<img src="http://placehold.it/350x250">
			</div>
			<div class="propertycontent">
				<h3>Little Italy</h3><br>
				<h3>$890,900</h3>
				<p>
					Stunning Kingsway renovation. Renowned local builder - Rusand’s – going to loving trans- formation in 2011! 4 great bedrooms, dreamy master bath, ‘to die for’ kitchen/family room! Exceptional landscaping.
				</p>
				<div>

				</div>
			</div>
		</li><li class="column2">
		yep
		</li><li class="column2">
		yep
		</li>
	</ul>
</div>

<div id="searchfield">
	<div class="sectiontitle column1 leftmargin">
		<h2>
			MLS Property search
		</h2>
	</div>	

	<div class="column4 offcolumn1"> 
		{# width 100% #}
		{# all inline #}
		<div>
			<h3>price range</h3>
			<div id="priceslider"></div>
			<div id="priceinputs">
				<div class="priceinput"><input id="lowerprice" ></div><div class="priceinput"><input id="upperprice"></div>
			</div>
		</div><div class="column2">
			<h3>Neighbourhood</h3>

		</div><div class="column1">

			<h3>home type</h3>
		</div><div class="column1">
			<h3>bedroom</h3>

		</div>	
	</div>

</div>


</div>
{% endblock %}
{% block searchnav %}currentpage{% endblock %}