{% extends basetemplate %}
{% load staticfiles %}
{% block content %}
<div id="smallsplash" class="sellingpage">
		
	<div class="titlebox titleboxmargins grid">

		<h1>
			<span class="leftalign h1shadow">Selling<br>Property</span>
			</h1>
	</div>
	<div class="mainimg sellimg" style="background-image: url({% static "img/Grey_Downtown_Selling2.jpg"%});"></div>
</div>


<div class="casestudy casesell">
	<div class="shadow"></div>
	<div class="titleboxmargins grid">
		{% for case in pagecontent.caseStudy.all %}
		<div class="sectiontitle column3 {%if forloop.first%}leftmargin medium-noleftmargin{%else%}offcolumn1{%endif%} medium-offcolumn1 medium-column5 small-offcolumn0 small-column7">
			<h2 class="whitenav bothcases">CASE STUDY:<br>{{case.title|safe}}</h2>
			<h3>client needs</h3>
			<ul>
				{% for item in case.clientNeeds.all%}
					<li>{{item.text|safe}}</li>
				{% endfor %}
			</ul>
			<h3>the selling process</h3>
			<p>{{case.sellingProcess.all.0.text|safe}}</p>
			<h3>outcomes</h3>
			<p>{{case.outcomes.all.0.text|safe}}</p>
		</div>
		{% endfor %}
	</div>
</div>

<div class="main grid">
	<div id="factors">
		<div class="sectiontitle column1 leftmargin medium-column2 small-column7">
			<h2 class="purplenav">
				steps to <span class="small-hide"><br></span>selling <span class="small-hide"><br></span>your home
			</h2>
		</div>
		<div class="centeredtext offcolumn1 column4 medium-offcolumn0 medium-column6 small-column7">
			{% for section in pagecontent.section.all %}
				<h3 class="column1">{{section.title|safe}}</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">{{section.text|safe}}</p>
			{% endfor %}
		</div>					
	</div>	
</div>
<div id="footer" class="footersell" style="background-image:url({% static "img/symmetrical_house_old_L_yellow.png"%})">
	<div style="background-image:url({% static "img/symmetrical_house_old_R_yellow.png"%})"></div>
	<div class="shadow"></div>
		<div class="contact grid">
			<div class="offcolumn1 column5 medium-offcolumn0 medium-column7">
				{{pagecontent.footer|safe}}
			</div>
	</div>
</div>
{% endblock %}
{% block sellnav %}currentpage{% endblock %}
{% block script %} 
<script type="text/javascript">
	$( document ).ready(function(){
		app.sell.init();
		// app.init();
		ga('send', 'pageview','/sell');
	});
</script>
{% endblock %}