{% extends basetemplate %}
{% load staticfiles %}
{% block content %}
<div id="smallsplash" class="sellingpage">
		
	<div class="titlebox titleboxmargins grid">

		<h1>
			<span class="leftalign h1shadow">Selling<br>Property</span>
			</h1>
	</div>
	<div class="mainimg sellimg" style="background-image: url({% static "img/Grey_Downtown_Selling.jpg"%});"></div>
</div>


<div class="casestudy">
	<div class="shadow"></div>
	<div class="titleboxmargins grid">
		<div class="sectiontitle column3 leftmargin medium-noleftmargin medium-offcolumn1 medium-column5 small-offcolumn0 small-column7">
			<h2 class="whitenav">case study:<br> moving from condo to house</h2>
			<h3>client needs</h3>
			<ul>
				<li>Starting a family and looking for more space.</li>
				<li>Looking for an agent who can attract the right buyer.</li>
				<li>Selling within the price range of $1,000,000 dollars.</li>
			</ul>
			<h3>the selling process</h3>
			<p>Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h4>These qualities are obviously those with which he regularly conducts business and are at a level of excellence dramatically above those displayed by any other real estate peer we have ever encountered”<br><span class="dashbefore"> </span> Robert & Lai-Won</h4>
			<h3>outcomes</h3>
			<p>He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value professionalism and grace. Trust is another very important aspect of communication and it’s the foundation of a solid business.</p>
		</div>
		<div class="sectiontitle column3 offcolumn4 medium-offcolumn1 medium-column5 small-offcolumn0 small-column7">
			<h2 class="whitenav">case study:<br>selling reconsidered</h2>
			<h3>client needs</h3>
			<ul>
				<li>Looking to return to school.</li>
				<li>Interested in property as an investment.</li>
				<li>Michael suggesting not selling their home.</li>
			</ul>
			<h3>the selling process</h3>
			<p>Trust is another very important aspect of communication and it’s the foundation of a solid business relationship, encompassing numerous ethical characteristics including integrity, honestly, professionalism and grace.</p>
			<h4>These qualities are obviously those with which he regularly conducts business and are at a level of excellence dramatically above those displayed by any other real estate peer we have ever encountered”<br><span class="dashbefore"> </span>Jane & Joe Smith</span></h4>
			<h3>outcomes</h3>
			<p>He is a wealth of knowledge in relation to the real estate market, neighbourhood insight and the factors effecting value professionalism and grace. Trust is another very important aspect of communication and it’s the foundation of a solid business.</p>
		</div>
	</div>
</div>

<div class="main grid">
	<div id="factors">
		<div class="sectiontitle column1 leftmargin medium-column2 small-column7">
			<h2 class="purplenav">
				steps to <span class="small-hide"><br></span>selling <span class="small-hide"><br></span>your home
			</h2>
		</div>
		<div class="centeredtext offcolumn1 column4 medium-offcolumn0 medium-column6 small-column7">
			<h3 class="column1 small-column7">Preparation <span class="small-hide"><br></span>is key</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">Preparing the property is an obvious task in marketing and selling real estate, the questions is, what do you do and where do you need to spend money? If any. This all comes down to the strategy you are employing and of course the current market conditions. Assessing your property's advantages and disadvantages, assembling the required documents and information, developing a strategy and determining a marketing price is all part of the preparations and is arguable the most import step.</p>
			<h3 class="column1 small-column7">Typical Documents</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">There are many documents required to sell a property plus other documentation that is not required but can be very helpful in achieving your goals and further protecting your interests. </p>
			<h3 class="column1 small-column7">Cost <span class="small-hide"><br></span>of Selling</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">The costs of selling a property are typically covered by the funds the seller receives from the buyer in the purchase of the property. The agent you choose and the strategy you employ can effect the net amount the seller receives from the sale of the property. Depending on the strategy, your costs may include renovations to the property, a survey, home inspection fees, legal fees and moving expenses.</p>
			<h3 class="column1 small-column7">Determining <span class="medium-hide"><br></span>the Value</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">Ultimately the market determines the true value of a property. The property characteristics need to be taken into consideration before you are able to compare the property to other similar properties and establish a competitive price. There are other factors that can affect the selling price of your property such as the market conditions, property characteristics and having the right Real Estate sales representative.</p>
			<h3 class="column1 small-column7">Avoiding <span class="medium-hide"><br></span>Costly <span class="medium-hide"><br></span>Mistakes</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">Engaging an experienced real estate agent you can trust will ensure your interests are protected and you avoid costly pitfalls. Overpricing the property and employing the wrong strategy in relation to the market conditions is most common mistake people make with selling a property.</p>
			<h3 class="column1 small-column7">Competitive Advantages</h3><p class="column3 norightmargin medium-offcolumn1 small-offcolumn0">There are many competitive advantages to each property, leveraging those advantages in context with the current market conditions is crucial in a successful strategy. Michael has experience in assessing and identifying these advantages, developing a strategy and leveraging these advantages to achieve the highest selling price possible.</p>
			<!-- </div>	 -->
		</div>					
	</div>	
</div>
<div id="footer" style="background-image:url({% static "img/symmetrical_house_1_purple.png"%})">
	<div style="background-image:url({% static "img/symmetrical_house_2_purple.png"%})"></div>
	<div class="shadow"></div>
		<div class="contact grid">
			<div class="offcolumn1 column5 medium-offcolumn0 medium-column7">
				<h4>If you are looking to relocate or if you are an international buyer, feel free to give Michael a call directly at <span itemprop="telephone"><a href="tel:+14169966936">416.996.6936</a></span> or send him an <span itemprop="email"><a href="mailto:michael@myrealestatepro.ca">email</a>.</h4></span>
				<span itemprop="address"  itemprop="streetAddress"><h5>477 MOUNT PLEASANT ROAD TORONTO, ON M4S 2L9 </span><br>PH: <a href="tel:+14164892121">416.489.2121</a><br>FAX: <a href="tel:+14164896297">416.489.6297</a><span itemprop="telephone"><br>DIRECT: <a href="tel:+14169966936">416.996.6936</a></span><br><span itemprop="email">EMAIL: <a href="mailto:michael@myrealestatepro.ca">MICHAEL@MYREALESTATEPRO.CA</a></h5></span>
			</div>
	</div>
</div>
{% endblock %}
{% block sellnav %}currentpage{% endblock %}