<h6>Social Media</h6>
	<h3>
		<a href="mailto:michael@myrealestatepro.ca?subject=Tell me about {{data.ml_num}}" class="emaillink"> email</a>
	</h3>

	<h3>
		<a href="/property/{{data.ml_num}}" class="facebooklink">facebook</a>

	</h3>

	<h3>
		<a href="https://twitter.com/intent/tweet?text=checkout%20http:www.michealowen.ca/property/{{data.ml_num}}&source=webclient" class="twitterlink" target="_blank">twitter</a>
	</h3>

<!--[if gte IE 9]><!-->	
	<h3>
		<a href="/property/{{data.ml_num}}" class="coppylink">LINK</a>
	</h3>
<!--<![endif]-->
