<h6>Social Media</h6>
	<h3>
		<a href="mailto:michaelowenrealestate@gmail.com?subject=check this property out {{data.ml_num}}&body=http://michaelowenrealestate.com/property/{{data.ml_num}}" class="emaillink"> email</a>
	</h3>

	<h3>
		<a href="/property/{{data.ml_num}}" class="facebooklink">facebook</a>

	</h3>

	<h3>
		<a href="https://twitter.com/intent/tweet?text=check%20out%20this%20property%20http://michaelowenrealestate.com/property/{{data.ml_num}}&source=webclient" class="twitterlink" target="_blank" >twitter </a>		
	</h3>

<!--[if gte IE 9]><!-->	
	<h3>
		<a href="/property/{{data.ml_num}}" class="coppylink">LINK</a>
	</h3>
<!--<![endif]-->
