@import "basegrid";
@import "baseanimation";
@import "variables";


html, body {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: "pragmatica-web",sans-serif;
	overflow: hidden;
}

body {
	position: relative;
}

h1, h2, h3 { 
	color: #fff;
	padding: 0;
	margin: 0;
}

h3 {
	font-size: $h2P;
	font-size: $h2Em;
	line-height: 1.3em;
	text-transform: uppercase;
	font-weight: 700;    
	vertical-align: top;
	display: inline-block;
	color: $grey;
	letter-spacing: 2px;
}

h4 {
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: $h4P;
	font-size: $h4Em;
	font-family: $serif;
	font-weight: 400;
}

h5 {
	color: #fff;
	a {
		text-decoration: none;
	}
	line-height: 1.7em;
}

h6 {
	font-size: $h2Psmall;
	font-size: $h2Emsmall;
	text-transform: uppercase;
	color: $grey;
	letter-spacing: 2px;
}

ul, li, p, div {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 700;
	vertical-align: top;
}

p {
	color: $grey;
	font-size: $pP;
	font-size: $pEm;
	font-weight: normal;
	line-height: 1.6em;
	a {
		text-decoration: none;
	}
}

a {
	color: inherit;
}

.h1shadow{
	-webkit-filter: drop-shadow(1.5px 0px 2px rgba(255,255,255,0.3));
	filter: drop-shadow(1.5px 0px 2px rgba(255,255,255,0.3));
}

#underline{
	text-decoration: none;
	border-bottom: 1.6px solid $purple1;
	color:$purple1; 
	padding-bottom: 0px;
	margin-bottom: 3px;
	width: 110px;
}

.backgroundimg {
	position: absolute;
	background: cover;
	width: 100%;
	height: auto;
	z-index: -1;
}

.bold {
	font-weight: bolder !important;
	text-transform: uppercase;
}

.shadow {
	-moz-box-shadow: inset 0 0 15px $grey;
	-webkit-box-shadow: inset 0 0 15px $grey;
	box-shadow: inset 0 0 15px $grey;
	height: 100%;
	width: 120%;
	left: -10%;
	position: absolute;
	top: 0;
}

.purp {
	color: $purple1;
}

.titlebox {
	position: absolute;
	h1 {
		font-size: 9em;
		line-height: 0.9em;
		font-weight: 200;
		color: $purple3;
	}
	top: 100px;
	z-index: 2;
	span {
		display: block;
	}
}

.fivehundred .titlebox{
	span{
		display: inline;
	}
}

.fourofour .titlebox{
	span{
		display: inline; 
	}
}

.bigbutton {
	display: block;
	position: relative;
	text-align: center;
	button {
		width: 100%;
		display: inline-block;
		border: none;
		background: transparent;
		border: 1px solid $purple1;
		// font-size: 1.2em;
		padding: 1em 0;
		text-transform: uppercase;
		margin-top: 2em;
		h3 {
			color: $purple1;
		}
	}
	button:hover {
		background: $yellow;
		border: 1px solid $yellow;
		h3 {
			color: #fff;
		}
	}
	&.morelistingsparent{
		margin-top: 0;
	}
	#morelistings.hide{
		display: none;
	}
}

.closebigbutton{
	display:none;
}

.titleboxmargins {
	position: relative;
}

.sectiontitle {
	position: absolute;
	h2 {
		color: $purple3;
		font-size: $h2P;
		font-size: $h2Em;
		line-height: 1.3em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		margin-top: -13.5px;
	}
	h2:before {
		content: "\00a0";
		display: block;
		width: 20px;
		height: 5px;
		margin-bottom: 5px;
		border-bottom: $border;
	}
}

.propertylist {
	position: relative; 
	width: 100%;
	margin-bottom: -28px;
	a{
		text-decoration: none;
		color: inherit;
	}
	p {
		font-size: 13px;
		font-size: 0.8em;
		line-height: 1.3em;
	}
	img{
		-webkit-filter: grayscale(100%) opacity(0.8);
		-moz-filter: grayscale(100%) opacity(0.8);
		-ms-filter: grayscale(100%) opacity(0.8);
		-o-filter: grayscale(100%) opacity(0.8);
		filter: grayscale(100%) opacity(0.8);
		filter: gray;
		// -webkit-transition: -webkit-filter 0.5s;
		// -moz-transition: -moz-filter 0.5s;
		// -ms-transition: -ms-filter 0.5s;
		// -o-transition: -o-filter 0.5s;
		// transition: filter 0.5s;
	}
	li {
		display: inline-block;
		vertical-align: top;
		background: $greybackground;
		margin-bottom: 28px;
		-webkit-transition: background 0.1s;
		-moz-transition: background 0.1s;
		-ms-transition: background 0.1s;
		-o-transition: background 0.1s;
		transition: background 0.1s;
		img {
			width: 100%;
		}
		.propertycontent {
			padding: 5% 0 5% 5%;
			width: 90%;
			p {
				padding-top: 2em;
			}
		}
		.share{
			width: 100%;
			display: block;
			position: relative;
			overflow: hidden;
			h3{
				font-size: 0.65rem;
				color: $purple1;
			}
			div{
				width: 100%;
			}
			div.mover{
				-webkit-transition: bottom 0.5s, background 0.1s;
				-moz-transition: bottom 0.5s, background 0.1s;
				-ms-transition: bottom 0.5s, background 0.1s;
				-o-transition: bottom 0.5s, background 0.1s;
				transition: bottom 0.5s, background 0.1s;				
				bottom: 0;
				display: block;
				position: absolute;
				bottom: -100%;
				background: $greybackground;
			}	

			// &:hover,
			&.clicked{
				div:last-child{
					top: 0;
				}
			}			
		}
		li:last-child {
			margin-right: 0;
		}
	}
}
.desktop{ 
	.propertylist{
		li:hover{
			background: $yellow;
			img{
				-webkit-filter: grayscale(0%) opacity(1);
				-moz-filter: grayscale(0%) opacity(1);
				-ms-filter: grayscale(0%) opacity(1);
				-o-filter: grayscale(0%) opacity(1);
				filter: grayscale(0%) opacity(1);
				filter: none; /* IE 6-9 */
			}
			div.mover{
				background: $yellow;
			}
		}
	}
}

.coppylink{
	color: $yellow;
}

.csscolumns .propertylist{

	-moz-column-count:3;
	-moz-column-gap:1.53%;
	-webkit-column-count:3;
	-webkit-column-gap:1.53%;
	column-count:3;
	column-gap:1.53%;
	width:83.33%;
	.column2, .medium-column7, .small-column7{ 
		width: auto;
		margin-right: 0 !important; 
	}
	li{
		display: block;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside:avoid;
		-moz-page-break-inside:avoid;
		page-break-inside: avoid;
	}
}

 //  .grayscale { 
 //  -webkit-filter: grayscale(100%) opacity(0.8);
 //  -moz-filter: grayscale(100%) opacity(0.8);
 //  -ms-filter: grayscale(100%) opacity(0.8);
 //  -o-filter: grayscale(100%) opacity(0.8);
 //  filter: grayscale(100%) opacity(0.8);
 //  filter: gray; IE 6-9
	// 	  &:hover{
		  // -webkit-filter: grayscale(0%) opacity(1);
		  // -moz-filter: grayscale(0%) opacity(1);
		  // -ms-filter: grayscale(0%) opacity(1);
		  // -o-filter: grayscale(0%) opacity(1);
		  // filter: grayscale(0%) opacity(1);
		  // filter: none; /* IE 6-9 */
	// 	}
	// }

.casestudy {
	&.casesell{
		background: $yellow3;
		h2, h3, p, h4, ul {
		color: $grey;
		}
			div.sectiontitle {
				display: inline-block;
				position: relative;
			h2 {
				color: $grey;
			}
			h2:before {
				border-bottom-color: $grey;
			}
		}
	}
	&.casebuy{
		background: $purple1;
	}
	padding-top: 60px;
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;

	p {
		color: #fff;
		padding-top: 24px;
	}
	h3 {
		padding-top: 48px;
		color: #fff;
	}
	h4 {
		padding-top: 36px;
		font-size: 1.2rem;
		position: relative;
	}
	h4:before {
		content: '\201C';
		width: 0;
		display: inline-block;
		position: absolute;
		left: -11px;
		}
	ul {
		color: #fff;
		padding-top: 24px;
		li {
			font-weight: normal;
			list-style: none;
			position: relative;
		}
	}
	li:before {
		content: '\2022';
		width: 0;
		display: inline-block;
		position: absolute;
		left: -14px; 
	}
	div.sectiontitle {
		display: inline-block;
		position: relative;
		h2 {
			color: #fff;
		}
		h2:before {
			border-bottom-color: #fff;
		}

			h2{
				.bothcases{text-transform:none;}
				}
		
	}

}

.dashbefore{
	position: relative;
	&:before{
		content: '\2013';
		width: 0;
		display: inline-block;
		position: absolute;
		left: -14px;
	}
}


nav {
	padding-bottom:25px;
	color: $purple2;
	font-size: $smallPixel;
	font-size: $smallSize;
	padding-top: 1.5em;
	z-index: 9;
	position: relative;
	.currentpage a {
		border-bottom: $border;
	}
	li {
		a {
			display: inline-block;
			*display:inline;
			padding: 1.5em 0 0.5em 0;
			text-decoration: none;
			color: inherit;
		}
		white-space: nowrap;
		display: inline-block;
	}
	ul {
		padding: 0;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

#nav{
	background-color:#fff;
	background-color:rgba(255,255,255,0.8);
	position: relative;
	z-index: 100;
}

#navbutton {
	display: none;
}

.mainwrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: scroll;
	> div {
		// overflow: hidden;
	}
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	// -webkit-transition: left 1s ease-in-out;
	// -moz-transition: left 1s ease-in-out;
	// -o-transition: left 1s ease-in-out;
	// transition: left 1s ease-in-out;
	&.offright {
		@include animation(0s, 2s, leftOffRight);		

		// left: 100%;
		overflow: hidden;
	}
	&.offleft {
		@include animation(0s, 1s, leftOffLeft);
		// left: -100%;
		overflow: hidden;
	}
}

.main {
	top: 0;
	left: 0;
	> div:first-child {
		margin-top: 50px;
	}
	> div {
		position: relative;
		margin-top: 120px;
	}
	.centeredtext {
		position: relative;
		p {
			vertical-align: top;
			display: inline-block;
			padding-bottom: 35px;
			margin-top: -5px;
		}
	}
}

#smallsplash {
	position: relative;
	height: 600px;
	h1{
		color: #fff;
	}
	.mainimg {
		position: absolute;
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-position: center;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.sellimg {
		background-position: top;
	}
	.buyimg {
		background-position: top;
		background-position:0% 20%;
	}
}

#smallsplash404 {
	position: relative;
	height: 100%;
	.mainimg {
		position: absolute;
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-position: center;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.fourofourimg{
		background-position: top;
	}
	.fivehundredimg{
		background-position: left;
	}
}

.aboutimg{
	height: 350px;
	width: 100%;
}

.buyimg2, .aboutimg2{
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	background-position: top;
	height: 360px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 120px;
}

#splash {
	position: relative;
	height: 900px;
	.mainimg {
		position: absolute;
		left: -10%;
		top: 0;
		width: 120%;
		height: 100%;
		> div {
			width: 47.25%;
			background: #cfc;
			height: 100%;
			display: inline-block;
		}
		> div:first-child {
			margin-right: 5%;
		}
	}
	#special {
		position: absolute;
		z-index: 2;
		top: 0;
		color: $purple2;
		ul {
			padding: 0;
			padding-top: 1em;
			display: inline-block;
		}
		li {
			font-size: $smallPixel;
			font-size: $smallSize;
			line-height: 17px;
			line-height: 1.1rem;
			list-style: none;
		}
	}
}

#about {
	> .sectiontitle {
		position: relative;
	}
	img {
		position: relative;
		padding: 30px 0 80px 0;
	}
	.describe-michael {
		position: absolute;
		top: 0;
		padding-top: 190px;
	    margin-top: 55px;
		color: $grey;
		line-height: 1.3em;
		font-family: $serif;
		font-size: 22px;
		font-size: 1.4rem;
		font-weight: 400;
	}
}

#fprop {
	.sectiontitle {
		position: relative;
		padding-bottom: 30px;
	}
}

#testimonials {
	margin-top: 120px;
	position: relative;
	background: $yellow;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: hidden;
	> div:first-child {
		background-repeat: no-repeat;
		background-position: right bottom;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.reference {
		//padding:
		//min-height: 300px;
		padding-top: 62px;
		padding-bottom: 82px;
		vertical-align: top;
		> div {
			position: relative;
		}
	}
	.grid h4,h5{
		position: relative;
		color: $grey;
	} 
	h4:before {
		content: '\201C';
		width: 0;
		display: inline-block;
		position: absolute;
		left: -11px;
	}
}

// #buyingimage {
// 	margin-top: 120px;
// 	position: relative;
// 	background: $green;
// 	width: 100%;
// 	height: 360px;
// 	background-image: url(http://placehold.it/1440x360);
// 	background-repeat: no-repeat;
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
// }

input, textarea {
	color: $grey;
	font-size: 0.8em;
	background: $grey2;
	padding: 5px 3% 2px 3%;
	margin: 0;
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}
label {
	color: $grey;
	font-size: 0.8em;
	font-weight: normal;
	position: relative;
	background: #fff;
}

#searchfield {
	.sectiontitle {
		//position: absolute; //why?
	}
	ul{
		padding-bottom: 30px;
	}
	h3{
		display: block;
	}
	.bbinputs {
		padding-bottom: 50px;
		span {
			display: inline-block;
			width: 50%;
			text-align: right;
		}
		span:first-child {
			input {
				text-align: left;
			}
			text-align: left;
		}
		input {
			width: auto;
			width: 40px;
			max-width: 40px;
		}
		input:last-child {
			text-align: right;
		}
	}
	.quarterwidths {
		ul {
			padding-top: 7px;
			width: 24%;
			display: inline-block;
			height: 150px;
			padding-left: 30px;
			margin-left: -30px;
			margin-bottom: 8px;
			overflow: scroll;
			position: relative;
			li{
				padding-right: 25px;
			}
		}
		// ul:first-of-type {
		// 	margin-right: 4.761%;
		// }

	}
	.column1 {
		background: transparent;
		ul {
			padding-top: 7px;
		}
	}

	.column6.norightmargin {
		position: relative;
		h3 {
			color: $purple1;
		}
		> div {  
			display: block;
		}
		> div:first-child {
			padding-top: 0px;
			margin-top: -1px;
			// width: 100%;
		}
		#priceslider, #bedslider, #bathslider {
			margin: 10px 0 20px 0;
		}
		.noUi-base {
			background: $grey2;
		}
		.noUi-background {
			background: $grey2;
		}
		.noUi-connect {
			background: $yellow;
		}
		.noUi-handle {
			border-color: $grey2;
		}
		.column1 {
			position: relative;
		}
		.hometype{
			display: inline-block;
		}
		#priceinputs {
			//width: 100%;
			.priceinput {
			    //width: 50%;
				display: inline-block;
				input {
					margin-bottom: 20px;
					width:150px;
					font-size: 1.0em;
				}
				&:last-child {
					text-align: right;
				}
				&:last-child input {
					text-align: right;
				}
			}
		}
	}
	input[type="checkbox"] {
		width: 0;
		overflow: hidden;
	}
	input[type="checkbox"] + label span {
		display: inline-block;
		position: absolute;
		left: -23px;
		width: 8px;
		height: 8px;
		vertical-align: middle;
		top: 3px;
		border: 1px solid $grey2;
		cursor: pointer;
	}
	input[type="checkbox"]:checked + label span {
		background: $purple1;
	}
	#searchlistings {
		margin-bottom: -92px;
	}
	.erroronsearch{
		.errormessage{
			display: inline-block;
		}
	}
	.errormessage{
		display: none;
		color: #f00 !important;
		font-size: .65em;
	}
}

.touch {
	#searchfield {
		.noUi-horizontal {
			height: 12px;
		}
		.noUi-horizontal .noUi-handle {
			width: 24px;
			height: 24px;
			left: -8px;
			top: -7px;
		}
	}
}

#featured {
	.sectiontitle {
		position: relative;
		padding-bottom: 30px;
	}
}

.propertyimages { 
	margin-top: 30px;
}
.propertyimage{
	width: 100%;
}

.socialmedia {
	a {
		padding-right: 10px;
		text-decoration: none;
	}
}

#neighbourhoods {
	.sectiontitle {
		position: relative;
		padding-bottom: 30px;
	}
	img {
		width: 100%;
		margin-bottom: 30px;
	}
	> div {
		h3 {
			padding: 20px 0;
		}
		h3:first-child {
			padding: 0;
			padding-bottom: 20px;
		//	margin-top: -13px;
		}
		display: inline-block;
	}
	> div:first-child {
		display: block;
	}
	li {
		font-size: $h2P;
		font-size: $h2Em;
		color: $grey;
		font-weight: normal;
		line-height: 1.5em;
		a{
		text-decoration: none;
		}
	}
	li:hover {
		color: $purple1;
	}
	.column5 > div{
		display: inline-block;
		h3 {
			padding: 20px 0;
		}
		h3:first-child {
			padding: 0;
			padding-bottom: 20px;
			margin-top: -13px;
		}		
	}
}

#footer {
	margin-top: 120px;
	position: relative;
	background: $purple1;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: hidden;
	> div:first-child {
		background-repeat: no-repeat;
		background-position: right bottom;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.contact {
		//padding:
		//min-height: 300px;
		padding-top: 62px;
		padding-bottom: 82px;
		vertical-align: top;
		> div {
			position: relative;
		}
	}
	.shadow {
		-moz-box-shadow: inset 0 0 18px #000;
		-webkit-box-shadow: inset 0 0 18px #000;
		box-shadow: inset 0 0 18px #000;
	}
	h5{
		text-transform: none;
	}
	&.footersell{
		background: $yellow3;
		background-repeat: no-repeat;
		h4, h5{
			color: $grey;

		}
	}
}



.module {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 101;
	overflow: scroll;

	@include animation(0s, 0.2s, fadein);		

	> div {
		padding-top: 92px;
		vertical-align: middle;
		padding-bottom: 92px;

	}
	.grid{
		display: none;
		position: relative;
	}
	&.loaded .grid {
		@include animation(0s, 0.5s, fadein);
		display: block;
		background: #fff;
		> div {
			display: inline-block;
			> p:last-child {
				padding-bottom: 60px;
			}
		}
		h6{
			margin: 0em;
			margin-top:2.5em;
			margin-bottom: 1.00em;
		}
		img {
			width: 100%;
			margin-bottom: 30px;
		}
		p {
			font-size: $pP2;
			font-size: $pEm2;
		}
		h2 {
			color: $purple3;
			font-size: 0.8em;
			line-height: 1.3em;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 2px;
			margin-top: 28.5px;
			margin-bottom: 20px;
		}
		.smalltop{
			padding-top: 10px;
		}
		.socialmedia{
			margin-top:20px;
		}

		h3 {
			color: $purple1;
			padding-bottom: 5px;
			font-size: 0.7rem;
			line-height: 1.6em;
		}
		> div:nth-child(2) table {
			margin: 20px 0 30px 0;
		}
		table {
			border-spacing: 0px;
			width: 100%;
			margin: 0 0 20px 0;

			tbody tr:nth-child(odd) {
			   		background-color: rgba(116,103,180,0.15);
			}
			tr td:first-child {
				width: 60%;
			}
			tr{
				line-height:1.2em;
			}
			td {
				vertical-align: middle;
				padding: 0;

			}
			h3 {
				padding-left: 4px;
				vertical-align: middle;
				padding-top: 0.45em;
			}
			p {
				padding: 0;
				padding-right: 5px;
				color: $purple1;
				font-size: 0.74em;
				line-height: 1.6em;
			}
		}
	}
	#gmap{
		padding-bottom: 30px;
	}
	.firstimageloading{
		position: relative;		
		div{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: block;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.moduleindex {
		z-index: 1;
		position: static;
		background: #fff;
		>div{
			padding-top: 60px;
		}

		#exbutton{
			right:-43px;
			display: none;
		}
}

	#exbutton{
		position: absolute;
		right: 0;
		top:0;	
		z-index: 99;
		display: block;
		background: transparent;	
		> div{
			position: relative;
			display: block;
			width: 50px;
			height: 50px;
		
			div:first-child{
				content:" ";
				width: 25px;
				height: 2px;
				display: block;
				position: absolute;
				left: 10px;
				top: 14px;
				background: $purple1;
				-ms-transform: translate(1px,9px) rotate(45deg) ; /* IE 9 */
				-webkit-transform: translate(1px,9px) rotate(45deg) ; /* Chrome, Safari, Opera */
				transform: translate(1px,9px) rotate(45deg) ;
			}
			div:last-child{
				content:" ";
				width: 25px;
				height: 2px;
				display: block;
				position: absolute;
				left: 10px;
				top: 30px;
				background: $purple1;
				-ms-transform: translate(0px,-7px) rotate(-45deg) ; /* IE 9 */
				-webkit-transform: translate(0px,-7px) rotate(-45deg) ; /* Chrome, Safari, Opera */
				transform: translate(0px,-7px) rotate(-45deg) ;
			}	
		}
	}

.request{
	display:block;
	position: relative;
    .requestform{
    	 display: none;
    }

	  // &:active{
		.requestform{
			display: block;
			margin-bottom:30px;
			input{
				margin-bottom: 7px;
				margin-right: 0.7%;
				vertical-align: middle;
				display: inline-block;
				width: 42%;
			}
			label{
				width:0;
				overflow:hidden;
			}
			#comments{
				width:91%;
				height: 30px;
				max-width: 100%;
				max-height: 100px !important; 
				color: $grey;
				margin-bottom: 7px;
			}
			#send{
				width:48%;
				// margin-top: 15px;
				margin-bottom: 15px;
			}
		}
	 // }
	 &.hideform{
	 	visibility: hidden;
	 }
}

.message{
	position:absolute;
	width:100%;
	height:90%;
	top: 2em;
	background: #fff;
	&.sent{
		.module .grid h3{color: $yellow;} 
	}
	&.error{
			
	}
}

.pullquotes{
	height: 100%;
	> div:first-child{
		height: 100%;
		> div:first-child{
			height: 100%;
		}
	}
	.slide{
		display: table;
		height: 100%;
	}
	p{
		display: table-cell;
		vertical-align: middle;
		color:#fff;
		text-align: center;
	}
	.slick-dots{
		button:before{
			color: #fff;
		}
		.slick-active button:before{
			color: #ddd;
		}
	}
}



@media all and (max-width: 1200px){
	.large-hide {display:none}
}
@media all and (max-width: 2000px){
	.large-hide2 {display:none}
}
@import "800brk";
@import "500brk";