.grid {max-width: 1280px;width: 90%;margin: 0 auto;}

.leftalign {text-align: left;}
.rightalign {text-align: right;}

.floatleft {float:left;}
.floatright {float:right;}
.center {text-align: center;}
.contain {overflow: hidden;}
.leftmargin {margin-left: 1.282%;}

.small-show{display:none}
.medium-show{display:none}
.hide, .hide2 {display:none}
.column1 {width: 12.820%;margin-right: 1.282%;min-height: 20px;}
.column2 {width: 26.923%;margin-right: 1.282%;}
.column3 {width: 41.025%;margin-right: 1.282%;}
.column4 {width: 55.128%;margin-right: 1.282%;}
.column5 {width: 69.230%;margin-right: 1.282%;}
.column6 {width: 83.333%;margin-right: 1.282%;}
.column7 {width: 97.435%;margin-right: 1.282%;}
.offcolumn0 {left: 1.282%;position: relative;}
.offcolumn1 {left: 15.384%;position: relative;}
.offcolumn2 {left: 29.487%;position: relative;}
.offcolumn3 {left: 43.589%;position: relative;}
.offcolumn4 {left: 57.692%;position: relative;}
.offcolumn5 {left: 71.794%;position: relative;}
.offcolumn6 {left: 85.897%;position: relative;}

.column2 {
	.column1 {width: 47.619%;margin-right: 4.761%;}
}

.column4 {
	.column1 {width: 23.255%;margin-right: 2.325%;}
	.column2 {width: 48.835%;margin-right: 2.325%;}
	.column3 {width: 74.420%;margin-right: 2.325%;}
}
.column5 {
	.column1 {width: 18.519%;margin-right: 1.851%;}
	.column2 {width: 38.889%;margin-right: 1.851%;}
	.column3 {width: 59.259%;margin-right: 1.851%;}
	.column4 {width: 79.629%;margin-right: 1.851%;}	
}
.column6 { 
	.column1 {width:14.925%; margin-right:1.492%;}
	.column2 {width:31.343%; margin-right:1.492%;}
	.column3 {width:47.761%; margin-right:1.492%;}
	.column4 {width:64.179%; margin-right:1.492%;}
	.column5 {width:80.597%; margin-right:1.492%;}
	.column6 {width:97.014%; margin-right:1.492%;}
}
.column7 { 
    .column1 {width:13.157%; margin-right:1.315%;}
    .column2 {width:26.315%; margin-right:1.315%;}
    .column3 {width:39.473%; margin-right:1.315%;}
    .column4 {width:52.631%; margin-right:1.315%;}
    .column5 {width:65.789%; margin-right:1.315%;}
    .column6 {width:78.947%; margin-right:1.315%;}
    .column7 {width:100%; margin-right:1.315%;}
}

.norightmargin {margin-right: 0% !important;}
