 @import"variables";

	#navbutton{
		&.white{
			> div{
				div:first-child{
					background: #fff;
				}
				div:nth-child(2){
					background: #fff;
				}
				div:last-child{
					background: #fff;
				}
			}
		}
		position: absolute;
		left: 0;
		top:0;	
		z-index: 99;
		display: block;	
		> div{
			position: relative;
			display: block;
			width: 50px;
			height: 50px;
		
			div:first-child{
				content:" ";
				width: 25px;
				height: 2px;
				display: block;
				position: absolute;
				left: 10px;
				top: 14px;
				background: $purple1;
				-webkit-transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;
				-moz-transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;
				-o-transition: transform 0.1s ease-in-out, background 0.1s ease-in-out; 
				transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;	
			}
			div:nth-child(2){
				content:" ";
				width: 25px;
				height: 2px;
				display: block;
				position: absolute;
				left: 10px;
				top: 22px;
				background: $purple1;
				-webkit-transition: width 0.1s ease-in-out, background 0.1s ease-in-out;
				-moz-transition: width 0.1s ease-in-out, background 0.1s ease-in-out;
				-o-transition: width 0.1s ease-in-out, background 0.1s ease-in-out;
				transition: width 0.1s ease-in-out, background 0.1s ease-in-out;
			}
			div:last-child{
				content:" ";
				width: 25px;
				height: 2px;
				display: block;
				position: absolute;
				left: 10px;
				top: 30px;
				background: $purple1;
				-webkit-transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;
				-moz-transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;
				-o-transition: transform 0.1s ease-in-out, background 0.1s ease-in-out; 
				transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;
			}
			&:hover{		
				div:first-child{
					height: 3px;
					top:14px;
				}
				div:nth-child(2){
					height: 3px;
					top:22px;
				}
				div:last-child{
					height: 3px;
					top:30px;
				}
			}
		}


		&.navactive{
			> div{
				div:first-child{
					-ms-transform: translate(1px,9px) rotate(45deg) ; /* IE 9 */
					-webkit-transform: translate(1px,9px) rotate(45deg) ; /* Chrome, Safari, Opera */
					transform: translate(1px,9px) rotate(45deg) ;
					background: $purple1;
				}
				div:nth-child(2){
					width:0px; /* IE 9 */
					background: $purple1;
				}
				div:last-child{
					-ms-transform: translate(0px,-7px) rotate(-45deg) ; /* IE 9 */
					-webkit-transform: translate(0px,-7px) rotate(-45deg) ; /* Chrome, Safari, Opera */
					transform: translate(0px,-7px) rotate(-45deg) ;
					background: $purple1;
				}
			}
		}
	}

	#nav{
		position: static;
	}
	nav {
		color: #fff;
		//border: 2px solid $purple1;
		text-transform: uppercase;
		letter-spacing: 4px;
		max-width: 100% !important;
		width: 100% !important;
		height: 100%;
		background: rgba(255,255,255,0.85);
		z-index: 9;
		position: absolute;
		left: 0;
		-webkit-transition: left 0.5s ease-in-out;
		-moz-transition: left 0.5s ease-in-out;
		-o-transition: left 0.5s ease-in-out;
		transition: left 0.5s ease-in-out;
		.currentpage a {
			border-bottom: none;
			background: $yellow;
		}
		li {
			margin-left: 0% !important;
			a {
				color: $purple1;
				display: inline-block;
				width: 84.616%;
				text-align: left;
				padding: 1.5em 0 1.5em 15.384%;
				font-size: 1.7em;
				border-style:solid;
				border-color: $purple1;
				border-width:1px;
				border-right-width: 0px;
				border-left-width: 0px;
				border-bottom-width: 0px;
			}
			&:first-child a{
				border-top-width: 0px;
			}
			width: 100% !important;
			text-align: left;
			white-space: nowrap;
			display: block;

		}
		li:nth-child(6), li:last-child{
			width:50% !important;
			display: inline-block;
			margin-right: 0%;
			a{
				border-bottom-width: 1px;
				font-size: 1.4em;
				padding: 1em 0 1em 31.5%;
			}
		}
		li:last-child{
			a{
				border-left-width: 1px;
				padding: 1em 0 1em 15.384%;
			}
		}


		li:hover{
			background: $yellow2;
		}
		ul {
			height: 100%;
			overflow: scroll;
			padding: 0;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			-webkit-overflow-scrolling: touch;
			-moz-overflow-scrolling: touch;
			-ms-overflow-scrolling: touch;
			-o-overflow-scrolling: touch;
			overflow-scrolling: touch;
		}
	}
		.offleft{ 
			left: -100%;
		}

	.hide,.hide2 {display:none}
	.medium-hide {display:none}
	.medium-show {display:block;}
	.medium-leftmargin {margin-left: 1.282%;}
	.medium-noleftmargin {margin-left: 0%;}
	.medium-column1 {width: 12.820%;margin-right: 1.282%;min-height: 20px;}
	.medium-column2 {width: 26.923%;margin-right: 1.282%;}
	.medium-column3 {width: 41.025%;margin-right: 1.282%;}
	.medium-column4 {width: 55.128%;margin-right: 1.282%;}
	.medium-column5 {width: 69.230%; margin-right: 1.282%;}
	.medium-column6 {width: 83.333%;margin-right: 1.282%;}
	.medium-column7 {width: 97.435%;margin-right: 1.282%;}
	.medium-offcolumn0 {left: 1.282%;position:relative}
	.medium-offcolumn1 {left: 15.384%;position:relative}
	.medium-offcolumn2 {left: 29.487%;position:relative}
	.medium-offcolumn3 {left: 43.589%;position:relative}
	.medium-offcolumn4 {left: 57.692%;position:relative}
	.medium-offcolumn5 {left: 71.794%;position:relative}
	.medium-offcolumn6 {left: 85.897%;position:relative}

	.medium-column5 {
		.medium-column1 {width: 18.519%;margin-right: 1.851%;}
		.medium-column2 {width: 38.889%;margin-right: 1.851% !important;;}
		.medium-column3 {width: 59.259%;margin-right: 1.851%;}
		.medium-column4 {width: 79.629%;margin-right: 1.851%;}	
	}
	.medium-column6 {
		.medium-column1 {width: 15.384%;margin-right: 1.538%;}
		.medium-column2 {width: 32.306%;margin-right: 1.538% !important;;}
		.medium-column3 {width: 49.228%;margin-right: 1.538%;}
		.medium-column4 {width: 66.15%;margin-right: 1.538%;}
		.medium-column5 {width: 83.072%;margin-right: 1.538%;}	
	}
	.medium-column7,.column7 { 
	    .medium-column1,.column1 {width:13.157%; margin-right:1.315%;}
	    .medium-column2,.column2 {width:26.315%; margin-right:1.315% !important;}
	    .medium-column3,.column3 {width:39.473%; margin-right:1.315%;}
	    .medium-column4,.column4 {width:52.631%; margin-right:1.315%;}
	    .medium-column5,.column5 {width:65.789%; margin-right:1.315%;}
	    .medium-column6,.column6 {width:78.947%; margin-right:1.315%;}
	    .medium-column7,.column7 {width:100%; margin-right:1.315%;}
	}	

	.titlebox{
		 top: 100px ;
		 h1{font-size: $h1Emmedium;}
	}

	.reference{
		.slick-dots{
			bottom:none;
			top:300px;
		}
	}

	.casestudy {
		div.sectiontitle {
		display: block;
		position: relative;
			padding-bottom: 100px;
		}
		p, ul{
			padding-top: 12px;
		}
	}
	#smallsplash .buyimg, #smallsplash .sellimg,  #smallsplash .propertyimg{
		background-position:left;
	}
	#searchfield .column4.offcolumn1>div:first-child{
		padding-top:100px;
	}
	.sectiontitle{
		padding-bottom:30px;
		position:relative;
	}
	.request .requestform{
		input{ 
			width: 91%;
			height: 30px;
		}
		#comments{
			height:60px;
		}

	}

	#testimonials {
		margin-top: 80px;
	}
	#testimonials .reference {	
		padding-top: 62px;
		padding-bottom: 320px;
	}

	#about {
		.describe-michael {
			position: relative;
			padding-top:0px;
			margin-top: 10px;
		}
		img {
			padding: 0px 0px 30px 0px;
			}
		}

	.propertylist {
		li:active{
			background: #d8dadb;
			// h3,p{color:#fff;}
			img{
				-webkit-filter: grayscale(100%) opacity(0.8);
				-moz-filter: grayscale(100%) opacity(0.8);
				-ms-filter: grayscale(100%) opacity(0.8);
				-o-filter: grayscale(100%) opacity(0.8);
				filter: grayscale(100%) opacity(0.8);
				filter: gray;
			}
		}
		li:hover {
			color: $grey;
			background: $greybackground;
		}
		li{
			display: inline-block;
			// .share{
			// 	div:first-child{
			// 		display: none;
			// 	}
			// }
			// .share:active{

			// 	h3:first-child{
			// 		display: none;
			// 	}
			// 	h3{
			// 		display: inline-block;
			// 	}
			// }
		}
		.propertyimage{
			display: inline-block;
		}
	}

	.csscolumns .propertylist{
		-webkit-column-count:1;
	}

	.neighmargin{
		padding-top: 20px;	
	}

	#neighbourhoods{
		text-align: right;
		> div{
			text-align: left;
		}
		>div h3:first-child{
			padding-top: 20px;	
		}
		>div:nth-child(2){
			display: block;
			>div:first-child{
				line-height: 1.75em;
			}
		}
		li:hover {
		color: $grey;
		}
	}

	#footer {
		margin-top: 80px;
	}

	#footer .contact {
		padding-top: 62px;
		padding-bottom: 350px;
	}

	.bigbutton {
	button:hover {
		background: none;
		border: 1px solid $purple1;
		h3 {
			color: #7d6cb1;
		}
	}
} 

	.aboutimg2, .buyimg2{
		margin-top: 80px;
	}
	.module{
		.grid{
			position: relative;

		}
		#exbutton{
			right:-43px;
		}
		> div{
			padding: 0;
			background: #fff;
		}
		.medium-column7> div{
			width: 45%;
			display: inline-block;
		}
	}
	.moduleindex{
		#exbutton{
			right:-43px;
			display: none;
		}

	}

.socialmedia{
	button {
		width: 97%;
		display: inline-block;
		border: none;
		background: transparent;
		border: 1px solid $purple1;
		// font-size: 1.2em;
		padding: 0.5em 0;
		text-align: left;
		padding-right: 5px;
		//text-transform: uppercase;
		//margin-top: 0.1em;
		padding-top: 0.8em;
		margin-bottom: 7px;
		h3 {
			line-height: 1.4em;
			color: $purple1;
		}
		a{
			padding-left: 10px;
			vertical-align: middle;
		}
	}

	
}

	#gmap{
		// height: 200px;
		padding-top: 30px;
		padding-left: 1.282%;
		position: absolute;
		right: 0;
		top:0;
	}

