$purple1: rgb(116, 103, 180); //old purple 1 $purple1: rgb(125, 108, 177);
$purple2: rgb(125, 90, 177);
$purple3: rgb(107, 79, 160);
// $purple3: #6b4fa0;
// $purple3: #6633cc;


$grey: rgb(78, 78, 86);
$grey2: #d8dadb;
$greybackground: #d8dadb;
// $green: rgb(135, 233, 34);
$green: rgb(78, 200, 104); //old green $green: rgb(130, 215, 35);

$smallPixel: 12px;
$smallSize: 0.75rem;
$h2P: 13px;
$h2Em: 0.8rem;
$h4P: 22px;
$h4Em: 1.4rem;
$pP: 15px;
$pEm: 1rem;
$pP2: 13px;
$pEm2: 0.8em;

$h1Emmedium: 8rem;
$h1Emsmall: 4.7rem;

$h2Psmall: 12px;
$h2Emsmall: 0.75rem;
$h4Psmall: 17px;
$h4Emsmall: 0.97rem;
$pPsmall: 14px;
$pEmsmall: 0.92rem;

$serif: "garvis-pro", serif;

$border: solid 3px $purple1;