html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative; }

h1, h2, h3, h4 {
  color: #7d6cb1;
  padding: 0;
  margin: 0; }

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  color: #4e4e56; }

.leftalign {
  text-align: left; }

.rightalign {
  text-align: right; }

.center {
  text-align: center; }

.leftmargin {
  margin-left: 1.123%; }

.column1 {
  width: 11.235%;
  margin-right: 1.123%; }

.column2 {
  width: 23.595%;
  margin-right: 1.123%; }

.column3 {
  width: 35.955%;
  margin-right: 1.123%; }

.column4 {
  width: 48.314%;
  margin-right: 1.123%; }

.column5 {
  width: 60.674%;
  margin-right: 1.123%; }

.column6 {
  width: 73.033%;
  margin-right: 1.123%; }

.column7 {
  width: 85.393%;
  margin-right: 1.123%; }

.column8 {
  width: 97.752%;
  margin-right: 1.123%; }

.offcolumn0 {
  left: 1.123%; }

.offcolumn1 {
  left: 13.483%; }

.offcolumn2 {
  left: 25.842%; }

.offcolumn3 {
  left: 38.202%; }

.offcolumn4 {
  left: 50.561%; }

.offcolumn5 {
  left: 62.921%; }

.offcolumn6 {
  left: 75.280%; }

.offcolumn7 {
  left: 87.640%; }

nav {
  color: #7d5ab1;
  font-size: 12px;
  font-size: 0.75rem;
  padding-top: 1.5em;
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  z-index: 9;
  position: relative; }
  nav .currentpage a {
    border-bottom: solid 2px #7d6cb1; }
  nav li {
    white-space: nowrap;
    display: inline-block; }
    nav li a {
      display: inline-block;
      padding: 1.5em 0 0.5em 0;
      text-decoration: none;
      color: inherit; }
  nav ul {
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

#mainwrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll; }

#main {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  top: 0;
  left: 0;
  height: 100%; }
  #main > div:first-child {
    margin-top: 50px; }
  #main > div {
    position: relative;
    margin-top: 120px; }
  #main .sectiontitle {
    position: absolute; }
    #main .sectiontitle h2 {
      font-size: 14px;
      font-size: 0.9rem;
      line-height: 1.3em;
      text-transform: uppercase;
      font-weight: normal; }
    #main .sectiontitle h2:before {
      content: "\00a0";
      display: block;
      width: 20px;
      height: 5px;
      margin-bottom: 5px;
      border-bottom: solid 2px #7d6cb1; }
  #main .centeredtext {
    position: relative;
    padding-top: 10px; }
    #main .centeredtext h3 {
      font-size: 14px;
      font-size: 0.9rem;
      font-weight: normal;
      text-transform: uppercase;
      color: #4e4e56;
      width: 20%; }
    #main .centeredtext p {
      width: 80%; }
    #main .centeredtext h3, #main .centeredtext p {
      display: inline-block;
      vertical-align: top;
      padding-bottom: 20px; }

#splash {
  position: relative;
  height: 100%; }
  #splash #titlebox {
    position: absolute;
    top: 100px;
    left: 0%;
    width: 0%;
    z-index: 2; }
    #splash #titlebox h1 {
      font-size: 7em;
      font-weight: lighter; }
    #splash #titlebox span {
      display: block; }
  #splash #mainimg {
    position: absolute;
    left: -10%;
    top: 0;
    width: 120%;
    height: 100%; }
    #splash #mainimg > div {
      width: 47.25%;
      background: #cfc;
      height: 100%;
      display: inline-block; }
    #splash #mainimg > div:first-child {
      margin-right: 5%; }
  #splash #special {
    position: absolute;
    z-index: 2;
    top: 0;
    color: #7d5ab1; }
    #splash #special ul {
      padding: 0;
      padding-top: 1em;
      width: 50%;
      display: inline-block; }
    #splash #special li {
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 17px;
      line-height: 1.1rem;
      list-style: none; }

#about > .sectiontitle {
  position: relative; }
#about img {
  position: relative;
  left: 0%;
  padding: 30px 0 50px 0; }
#about .describe-michael {
  position: absolute;
  bottom: 0;
  color: #4e4e56;
  line-height: 1.3em;
  font-family: serif;
  font-size: 21px;
  font-size: 1.3rem; }

#fprop .sectiontitle {
  position: relative;
  padding-bottom: 30px; }

.reference {
  width: 100%;
  min-height: 300px; }
  .reference > div {
    position: relative; }
    .reference > div > div {
      position: absolute; }

.propertylist {
  position: relative;
  width: 97.532%;
  left: 0%; }
  .propertylist li {
    width: 32%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    background: #d8dadb; }
    .propertylist li img {
      width: 100%; }
    .propertylist li > .propertycontent {
      padding: 5% 0 5% 5%;
      width: 90%; }
      .propertylist li > .propertycontent p {
        padding-top: 2em; }
  .propertylist li:last-child {
    margin-right: 0; }
